
.error-boundary-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    
    .header-1 {
        font-weight: 600;
        font-size: 30px;
    }
    
    .header-2 {
        font-weight: 400;
        font-size: 24px;

    }
}